<div class="flex flex-col min-h-screen bg-neutral-grayLightest">
    <app-header></app-header>

    <div class="flex flex-1">
        <app-sidebar class="hidden md:flex"></app-sidebar>

        <main class="flex-1 p-4 md:p-6 max-w-5xl mx-auto space-y-6">
            <h1 class="text-lg md:text-xl font-title font-bold text-support-navy flex items-center gap-2 mb-6">
                <span class="text-xl">←</span> Información de la Mascota
            </h1>


            <app-pet-info [pet]="pet"></app-pet-info>

            <button
                class="flex items-center gap-2 text-sm text-white bg-primary hover:bg-support-lightgreen px-4 py-2 rounded mx-auto">
                <img src="assets/icons/edit_icon_white.png" alt="Editar" class="w-4 h-4" />
                Editar
            </button>
            <app-medical-record [records]="historial"></app-medical-record>
        </main>
    </div>

    <app-footer></app-footer>
</div>