<footer class="footer">
    <div class="footer-container">
        <div class="footer-section">
            <h4>Comunícate con nosotros:</h4>
            <a href="mailto:pawtner.soporte&#64;gmail.com">pawtner.soporte&#64;gmail.com</a>
            <p>Teléfono: 1234567890</p>
        </div>

        <div class="footer-section">
            <h4>Políticas</h4>
            <ul class="policy-links">
                <li><a href="#" class="policy-link">Políticas de privacidad</a></li>
                <li><a href="#" class="policy-link">Términos y condiciones</a></li>
                <li><a href="#" class="policy-link">Soporte</a></li>
            </ul>
        </div>

        <div class="footer-section">   
          
            <h4>Síguenos</h4>
            <div class="social-icons">
                <a href="#" class="social-link" aria-label="Twitter">
                    <img src="icons/social-media/XIcon.svg" alt="Twitter" width="32" height="32" />
                </a>

                <a href="#" class="social-link" aria-label="Instagram">
                    <img src="icons/social-media/InstagramIcon.svg" alt="Instagram" width="32" height="32" />
                </a>

                <a href="#" class="social-link" aria-label="Facebook">
                    <img src="icons/social-media/FacebookIcon.svg" alt="Facebook" width="32" height="32" />
                </a>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <p>© 2025 Pawtner. Todos los derechos reservados</p>
    </div>
</footer>