<!-- src\app\globals\components\sidebar\sidebar.component.html -->
<div class="sidebar hidden md:flex flex-col w-64 bg-neutral-grayLighter text-neutral-white h-full p-4 gap-4">
  <!-- Botón Agenda -->
  <button (click)="redirectToSchedule()"
    class="flex items-center gap-3 w-full bg-primary px-4 py-3 rounded-md font-semibold text-neutral-white  hover:bg-support-navy hover: transition border border-primary">
    <img src="assets/icons/calendar_icon.png" alt="Agenda" class="w-6 h-6" />
    <span class="flex-1 text-left">Agenda</span>
  </button>

  <!-- Botón Mascotas -->
  <button (click)="redirectToPets()"
    class="flex items-center gap-3 w-full bg-primary px-4 py-3 rounded-md font-semibold text-neutral-white hover:bg-support-navy hover: transition border border-primary">
    <img src="assets/icons/mascotas_icon.png" alt="Mascotas" class="w-6 h-6" />
    <span class="flex-1 text-left">Mascotas</span>
  </button>
</div>