<!-- src\app\modules\dashboard\components\appointments-list\appointments-list.component.html -->
<div class="bg-white rounded-lg shadow overflow-hidden">
  <div class="divide-y divide-neutral-grayLighter">
    <div *ngFor="let appointment of appointments" class="p-4 hover:bg-neutral-grayLightest transition-colors">
      <div class="flex items-start" (click)="goToAppointmentDetails(appointment.apptId)" style="cursor: pointer;">
        <div class="bg-primary bg-opacity-10 p-3 rounded-full mr-4">
          <svg class="w-6 h-6 text-primary" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
          </svg>
        </div>
        
        <div class="flex-1">
          <h3 class="font-semibold text-neutral-grayDarker">{{appointment.pet.nombre}}</h3>
          <p class="text-neutral-grayDark">{{appointment.type}}</p>
          <p class="text-sm text-neutral-grayLight mt-1">
            {{appointment.date}}
          </p>
          <p class="text-sm text-neutral-grayLight mt-1">
            {{formatTime(appointment.schedule.horaInicio)}} - {{formatTime(appointment.schedule.horaFin)}} • 
            {{appointment.duration ? + appointment.duration + ' mins' : 'INFO CITA'}}
          </p>
        </div>
        
        <button class="text-primary hover:text-secondary">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"/>
          </svg>
        </button>
      </div>
    </div>
    
    <div *ngIf="appointments.length === 0" class="p-8 text-center text-neutral-grayDark">
      No hay citas programadas para hoy
    </div>
  </div>
</div>